<h2>Listado de facturas</h2>
<table mat-table [dataSource]="facturas" class="mat-elevation-z8" style="width:
    100%;">
    <ng-container matColumnDef="NUME_DOC">
        <th mat-header-cell *matHeaderCellDef>Numero</th>
        <td mat-cell *matCellDef="let factura"> {{factura.numero_doc}} </td>
    </ng-container>
    <ng-container matColumnDef="CODI_ESTADO">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let factura"> {{factura.codigo_estado}} </td>
    </ng-container>
    <ng-container matColumnDef="FECHA_FAC">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let factura"> {{factura.fecha_fac}} </td>
    </ng-container>
    <ng-container matColumnDef="VALOR_FAC">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let factura"> {{factura.valor_fac}} </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let factura">
            <a mat-icon-button [routerLink]="['/facturas/editar', factura.id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let factura">
            <button (click)="eliminarFactura(factura)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['NUME_DOC', 'CODI_ESTADO', 'FECHA_FAC', 'VALOR_FAC',
        'eliminar']"></tr>
    <tr mat-row *matRowDef="let fila; columns: ['NUME_DOC', 'CODI_ESTADO', 'VALOR_FAC',
        'editar', 'eliminar'];"></tr>
</table>