<section id="galeria">
    <header>
        <h1>Mosaico de imágenes</h1>
    </header>
    <div>
    <article>
        <a target="_blank" >
            <figure>
                <img src="assets/images/curso-angular.jpg" />
                
            </figure>
        </a>
    </article>
    <article>
            <a target="_blank" >
                <figure>
                    <img src="assets/images/curso-front-end.png">
                    
                </figure>
            </a>
        </article>
        <article>
                <a target="_blank" >
                    <figure>
                        <img src="assets/images/curso-sql-server.png" />
                        
                    </figure>
                </a>
            </article>
        
    <article>
            <a target="_blank" >
                <figure>
                    <img src="assets/images/curso-xamarin.jpg">
                    
                </figure>
            </a>
        </article>

        <article>
        <a target="_blank" >
            <figure>
                <img src="assets/images/curso-angular.jpg" />
                
            </figure>
        </a>
    </article>

    <article>
        <a target="_blank" >
            <figure>
                <img src="assets/images/curso-angular.jpg" />
                
            </figure>
        </a>
    </article>
    <article>
            <a target="_blank" >
                <figure>
                    <img src="assets/images/curso-angular.jpg" />
                   
                </figure>
            </a>
        </article>
    <article>
            <a target="_blank">
                <figure>
                    <img src="assets/images/curso-angular.jpg" />
                  
                </figure>
            </a>
    </article>

    <article>
            <a target="_blank">
                <figure>
                    <img src="assets/images/curso-java-online.jpg" />
                   
                </figure>
            </a>
        </article>
    <article>
        <a target="_blank">
            <figure>
                <img src="assets/images/curso-velneo-online.png" />
                
            </figure>
        </a>
    </article>
    <article>
        <a target="_blank" >
            <figure>
                <img src="assets/images/curso-angular.jpg" />
                
            </figure>
        </a>
    </article>
</div>

    </section>
